.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 80px 26rem;
    min-height: 100vh;
    color: #1f1f1f;
}

.main li {
    margin-bottom: 14px;
    margin-left: 20px;
    padding-left: 20px;
    position: relative;
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.top h3 {
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    line-height: 1.5;
}

.top a {
    text-decoration: underline;
}
